/**
The content in this file is released to the public domain.
This doesn't include the font referenced in this file.
*/

@font-face {
    font-family: 'DragonscriptRegular';
    src: url('dragon_script-webfont.eot');
    src: url('dragon_script-webfont.eot?#iefix') format('embedded-opentype'),
         url('dragon_script-webfont.woff') format('woff'),
         url('dragon_script-webfont.ttf') format('truetype'),
         url('dragon_script-webfont.svg#DragonscriptRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



a, a:link, a:visited, a:active, a:hover
{
	text-decoration: underline;
	
	color: #CACFD3;
}

footer
{
	padding: 20px 0px 5px;
	font-size: small;
	font-style:italic;
	text-align: center;
}

body
{
	background-color: #171A1F;
	color: #CACFD3;
	font-family: "Georgia";
}

h1
{
	margin: 5px 0px;
}

#content
{
	background-color: #333335;
	width: 1000px;
	position: relative;
	left: 50%;
	margin-left: -510px;
	padding: 5px 10px;
}

#buttons input[type="button"]
{
	width: 60px;
	text-align: center;

}

.halfblock_r, .halfblock_l
{
	width: 490px;
}

.halfblock_r
{
	float: right;
}

.halfblock_l
{
	float: left;
}

.dragon, .normal
{
	font-size: xx-large;
	
}

.dragon
{
	font-family: 'DragonscriptRegular';
	word-spacing: 30px;
}

textarea
{
	background-color: #50433D;
	color: #9DA6AB;
	padding-top: 5px;
	width: 100%;
}